<div class="container-fluid">
	<h4 class="title text-start fs-1 mt-4 mb-4" style="color: rgb(39, 36, 36);">Update Product</h4>

	<div *ngIf="alertMsg" class="alert alert- alert-dismissible fade show" role="alert">
		<strong>Success!</strong> Your data updated successfully.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onClose()"></button>
	</div>
	<div class="row">
		<div class="col-md-6 align-content-center">
			
				<div class="form-group mb-3">
					<label for="productid" class="form-label mb-0 fw-semibold fw-semibold">Product Id</label>
					<input type="text" class="form-control" name="productid" [(ngModel)]="updatedProduct.id" required placeholder="Enter Product Id">
				</div>
				<div class="form-group mb-3">
					<label for="productname" class="form-label mb-0 fw-semibold">Product Name</label>
					<input type="text" class="form-control" name="productname" [(ngModel)]="updatedProduct.productName" required placeholder="Enter Product Name">
				</div>
				<div class="form-group mb-3">
					<label for="productprice" class="form-label mb-0 fw-semibold">Product Price</label>
					<input type="text" class="form-control" name="productprice" [(ngModel)]="updatedProduct.productPrice" required placeholder="Enter Product Price">
				</div>
				<div class="form-group mb-3">
					<label for="productcategory" class="form-label mb-0 fw-semibold">Product Category</label>
					<input type="text" class="form-control" name="productcategory" [(ngModel)]="updatedProduct.productCategory" required placeholder="Enter Product Category">
				</div>
				<div class="form-group mb-3">
					<label for="producturl" class="form-label mb-0 fw-semibold">Product Url</label>
					<input type="text" class="form-control" name="producturl" [(ngModel)]="updatedProduct.productUrl" required placeholder="Enter Product Url">
				</div>
				<div class="form-group mb-3">
					<label for="productdescription" class="form-label mb-0 fw-semibold">Product Description</label>
					<Textarea type="text" class="form-control" ngDefaultControl name="productdescription" [(ngModel)]="updatedProduct.productDescription" required placeholder="Enter Product Description" style="height: 100px"></Textarea>
				</div>
				
				<button type="submit" class="btn btn-primary" (click)="onUpdate()">Update Product</button>

		</div>
	</div>
</div>
